@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=La+Belle+Aurore&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {
    .text-shadow-behind-left {
      text-shadow: -10px 0px 0px #08fdd8;
    }
    .text-shadow-behind-after {
      text-shadow: 5px 0px 0px #08fdd8;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
